// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
// font-family: 'Bodoni Moda', serif;
// font-family: 'Source Sans 3', sans-serif;
$navbar-light-color: #fff;
$navbar-light-active-color: #fff;

$primary: rgb(223, 170, 137);
$bg-dark: #5e4c3f;

@import "../node_modules/bootstrap/scss/bootstrap";

.navbar {
    background-color: rgb(223, 170, 137);
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
}

ul .navbar {
    text-decoration: none;
}

footer {
    display: flex; /* Use Flexbox */
    background-color: #5e4c3f; /* Brown background color */
    color: #fff; /* Text color */
    padding: 20px; /* Add padding for spacing */
    justify-content: space-between; /* Distribute the space between the items */
    align-items: center; /* Center-align the items vertically */
    font-family: 'Source Sans 3', sans-serif;
}

.first-block, .second-block, .thrid-block, .fourth-block {
    flex: 1; /* Distribute available space equally among the three blocks */
    text-align: left; /* Adjust alignment if needed */
}

.second-block {
    display: flex;
}

.middle-nav-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.search-container {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.search-container .form-inline {
    display: flex;
}

footer .center-block {
    column-count: 2;
}

.center-block {
    text-decoration: none;
}

.nav-item {
    text-decoration: none;
}

.brand {
    background-color: brown;
    text-align: center;
}

[data-bs-theme="dark"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: var(--bs-brown);
    --bs-body-bg-rgb: #{to-rgb($brown)};
    --bs-tertiary-bg: #{$brown-600};
}